<world>
	<window width="800" height="800" />
	<camera>
		<position x="10" y="10" z="1" />
		<lookAt x="0" y="0" z="0" />
		<up x="0" y="1" z="0" />
		<projection fov="60" near="1" far="1000" />
	</camera>
    
    <group>
        <transform>
            <translate time="30.0" align = "true">
		<point x="4.0" y ="0" z="0.0" />
		<point x="3.863703305" y ="0" z="4.141104722" />
		<point x="3.464101615" y ="0" z="8.0" />
		<point x="2.828427125" y ="0" z="11.313708499" />
		<point x="2.0" y ="0" z="13.856406461" />
		<point x="1.03527618" y ="0" z="15.454813221" />
		<point x="0.0" y ="0" z="16.0" />
		<point x="-1.03527618" y ="0" z="15.454813221" />
		<point x="-2.0" y ="0" z="13.856406461" />
		<point x="-2.828427125" y ="0" z="11.313708499" />
		<point x="-3.464101615" y ="0" z="8.0" />
		<point x="-3.863703305" y ="0" z="4.141104722" />
		<point x="-4.0" y ="0" z="0.0" />
		<point x="-3.863703305" y ="0" z="-4.141104722" />
		<point x="-3.464101615" y ="0" z="-8.0" />
		<point x="-2.828427125" y ="0" z="-11.313708499" />
		<point x="-2.0" y ="0" z="-13.856406461" />
		<point x="-1.03527618" y ="0" z="-15.454813221" />
		<point x="-0.0" y ="0" z="-16.0" />
		<point x="1.03527618" y ="0" z="-15.454813221" />
		<point x="2.0" y ="0" z="-13.856406461" />
		<point x="2.828427125" y ="0" z="-11.313708499" />
		<point x="3.464101615" y ="0" z="-8.0" />
		<point x="3.863703305" y ="0" z="-4.141104722" />

            </translate>
            <scale x="0.2" y="0.2" z="0.2" />
        </transform>
        <models>
            <model file="beziercurve.3d" />
        </models>
    </group>

	<group>
		<!--sol-->
		<group>
			<models>
				<model file="esfera.3d" />
			</models>
		</group>
		
		<!--Mercurio-->
		<group>
			<transform>
				<translate time="10" align="True" >
					<point x="2.0" y ="0" z="0.0" />
					<point x="1.931851653" y ="0" z="1.03527618" />
					<point x="1.732050808" y ="0" z="2.0" />
					<point x="1.414213562" y ="0" z="2.828427125" />
					<point x="1.0" y ="0" z="3.464101615" />
					<point x="0.51763809" y ="0" z="3.863703305" />
					<point x="0.0" y ="0" z="4.0" />
					<point x="-0.51763809" y ="0" z="3.863703305" />
					<point x="-1.0" y ="0" z="3.464101615" />
					<point x="-1.414213562" y ="0" z="2.828427125" />
					<point x="-1.732050808" y ="0" z="2.0" />
					<point x="-1.931851653" y ="0" z="1.03527618" />
					<point x="-2.0" y ="0" z="0.0" />
					<point x="-1.931851653" y ="0" z="-1.03527618" />
					<point x="-1.732050808" y ="0" z="-2.0" />
					<point x="-1.414213562" y ="0" z="-2.828427125" />
					<point x="-1.0" y ="0" z="-3.464101615" />
					<point x="-0.51763809" y ="0" z="-3.863703305" />
					<point x="-0.0" y ="0" z="-4.0" />
					<point x="0.51763809" y ="0" z="-3.863703305" />
					<point x="1.0" y ="0" z="-3.464101615" />
					<point x="1.414213562" y ="0" z="-2.828427125" />
					<point x="1.732050808" y ="0" z="-2.0" />
					<point x="1.931851653" y ="0" z="-1.03527618" />


				</translate>
				<scale x="0.036249999999999999" y="0.036249999999999998" z="0.036249999999999998" />
			</transform>
			
			<models>
				<model file="esfera.3d" />
			</models>
		
		</group>
		
		<!--Venus-->
		<group>
			<transform>
				<translate time="13" align="True" >
					<point x="3.0" y ="0" z="0.0" />
					<point x="2.897777479" y ="0" z="1.552914271" />
					<point x="2.598076211" y ="0" z="3.0" />
					<point x="2.121320344" y ="0" z="4.242640687" />
					<point x="1.5" y ="0" z="5.196152423" />
					<point x="0.776457135" y ="0" z="5.795554958" />
					<point x="0.0" y ="0" z="6.0" />
					<point x="-0.776457135" y ="0" z="5.795554958" />
					<point x="-1.5" y ="0" z="5.196152423" />
					<point x="-2.121320344" y ="0" z="4.242640687" />
					<point x="-2.598076211" y ="0" z="3.0" />
					<point x="-2.897777479" y ="0" z="1.552914271" />
					<point x="-3.0" y ="0" z="0.0" />
					<point x="-2.897777479" y ="0" z="-1.552914271" />
					<point x="-2.598076211" y ="0" z="-3.0" />
					<point x="-2.121320344" y ="0" z="-4.242640687" />
					<point x="-1.5" y ="0" z="-5.196152423" />
					<point x="-0.776457135" y ="0" z="-5.795554958" />
					<point x="-0.0" y ="0" z="-6.0" />
					<point x="0.776457135" y ="0" z="-5.795554958" />
					<point x="1.5" y ="0" z="-5.196152423" />
					<point x="2.121320344" y ="0" z="-4.242640687" />
					<point x="2.598076211" y ="0" z="-3.0" />
					<point x="2.897777479" y ="0" z="-1.552914271" />


				</translate>
				<scale x="0.0875" y="0.0875" z="0.0875" />
			</transform>
			
			<models>
				<model file="esfera.3d" />
			</models>
		
		</group>
		
		<!--Terra-->
		<group>
			<transform>
				<translate time="14" align="True" >
					<point x="4.0" y ="0" z="0.0" />
					<point x="3.863703305" y ="0" z="2.070552361" />
					<point x="3.464101615" y ="0" z="4.0" />
					<point x="2.828427125" y ="0" z="5.656854249" />
					<point x="2.0" y ="0" z="6.92820323" />
					<point x="1.03527618" y ="0" z="7.72740661" />
					<point x="0.0" y ="0" z="8.0" />
					<point x="-1.03527618" y ="0" z="7.72740661" />
					<point x="-2.0" y ="0" z="6.92820323" />
					<point x="-2.828427125" y ="0" z="5.656854249" />
					<point x="-3.464101615" y ="0" z="4.0" />
					<point x="-3.863703305" y ="0" z="2.070552361" />
					<point x="-4.0" y ="0" z="0.0" />
					<point x="-3.863703305" y ="0" z="-2.070552361" />
					<point x="-3.464101615" y ="0" z="-4.0" />
					<point x="-2.828427125" y ="0" z="-5.656854249" />
					<point x="-2.0" y ="0" z="-6.92820323" />
					<point x="-1.03527618" y ="0" z="-7.72740661" />
					<point x="-0.0" y ="0" z="-8.0" />
					<point x="1.03527618" y ="0" z="-7.72740661" />
					<point x="2.0" y ="0" z="-6.92820323" />
					<point x="2.828427125" y ="0" z="-5.656854249" />
					<point x="3.464101615" y ="0" z="-4.0" />
					<point x="3.863703305" y ="0" z="-2.070552361" />


				</translate>
				<scale x="0.09125" y="0.09125" z="0.09125" />
			</transform>
			
			<models>
				<model file="esfera.3d" />
			</models>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="30" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>

					<scale x="0.1" y="0.1" z="0.1" />	
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
		
		</group>
		
		<!--Marte-->
		<group>
			<transform>
				<translate time="15" align="True" >
					<point x="5.0" y ="0" z="0.0" />
					<point x="4.829629131" y ="0" z="2.588190451" />
					<point x="4.330127019" y ="0" z="5.0" />
					<point x="3.535533906" y ="0" z="7.071067812" />
					<point x="2.5" y ="0" z="8.660254038" />
					<point x="1.294095226" y ="0" z="9.659258263" />
					<point x="0.0" y ="0" z="10.0" />
					<point x="-1.294095226" y ="0" z="9.659258263" />
					<point x="-2.5" y ="0" z="8.660254038" />
					<point x="-3.535533906" y ="0" z="7.071067812" />
					<point x="-4.330127019" y ="0" z="5.0" />
					<point x="-4.829629131" y ="0" z="2.588190451" />
					<point x="-5.0" y ="0" z="0.0" />
					<point x="-4.829629131" y ="0" z="-2.588190451" />
					<point x="-4.330127019" y ="0" z="-5.0" />
					<point x="-3.535533906" y ="0" z="-7.071067812" />
					<point x="-2.5" y ="0" z="-8.660254038" />
					<point x="-1.294095226" y ="0" z="-9.659258263" />
					<point x="-0.0" y ="0" z="-10.0" />
					<point x="1.294095226" y ="0" z="-9.659258263" />
					<point x="2.5" y ="0" z="-8.660254038" />
					<point x="3.535533906" y ="0" z="-7.071067812" />
					<point x="4.330127019" y ="0" z="-5.0" />
					<point x="4.829629131" y ="0" z="-2.588190451" />



				</translate>
				<scale x="0.04875" y="0.04875" z="0.04875" />
			</transform>
			
			<models>
				<model file="esfera.3d" />
			</models>
		
		</group>
		
		<!--Jupiter-->
		<group>
			<transform>
				<translate time="18" align="True" >
					<point x="6.0" y ="0" z="0.0" />
					<point x="5.795554958" y ="0" z="3.105828541" />
					<point x="5.196152423" y ="0" z="6.0" />
					<point x="4.242640687" y ="0" z="8.485281374" />
					<point x="3.0" y ="0" z="10.392304845" />
					<point x="1.552914271" y ="0" z="11.591109915" />
					<point x="0.0" y ="0" z="12.0" />
					<point x="-1.552914271" y ="0" z="11.591109915" />
					<point x="-3.0" y ="0" z="10.392304845" />
					<point x="-4.242640687" y ="0" z="8.485281374" />
					<point x="-5.196152423" y ="0" z="6.0" />
					<point x="-5.795554958" y ="0" z="3.105828541" />
					<point x="-6.0" y ="0" z="0.0" />
					<point x="-5.795554958" y ="0" z="-3.105828541" />
					<point x="-5.196152423" y ="0" z="-6.0" />
					<point x="-4.242640687" y ="0" z="-8.485281374" />
					<point x="-3.0" y ="0" z="-10.392304845" />
					<point x="-1.552914271" y ="0" z="-11.591109915" />
					<point x="-0.0" y ="0" z="-12.0" />
					<point x="1.552914271" y ="0" z="-11.591109915" />
					<point x="3.0" y ="0" z="-10.392304845" />
					<point x="4.242640687" y ="0" z="-8.485281374" />
					<point x="5.196152423" y ="0" z="-6.0" />
					<point x="5.795554958" y ="0" z="-3.105828541" />

				</translate>

				<scale x="0.19" y="0.19" z="0.19" />
			</transform>
			
			<models>
				<model file="esfera.3d" />
			</models>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="30" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.1" y="0.1" z="0.1" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="90" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.3" y="0.3" z="0.3" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="180" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.15" y="0.15" z="0.15" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="270" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.1" y="0.1" z="0.1" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
		</group>
		
		<!--Saturno-->
		<group>
			<transform>
				<translate time="20" align="True" >
					<point x="7.0" y ="0" z="0.0" />
					<point x="6.761480784" y ="0" z="3.623466631" />
					<point x="6.062177826" y ="0" z="7.0" />
					<point x="4.949747468" y ="0" z="9.899494937" />
					<point x="3.5" y ="0" z="12.124355653" />
					<point x="1.811733316" y ="0" z="13.522961568" />
					<point x="0.0" y ="0" z="14.0" />
					<point x="-1.811733316" y ="0" z="13.522961568" />
					<point x="-3.5" y ="0" z="12.124355653" />
					<point x="-4.949747468" y ="0" z="9.899494937" />
					<point x="-6.062177826" y ="0" z="7.0" />
					<point x="-6.761480784" y ="0" z="3.623466631" />
					<point x="-7.0" y ="0" z="0.0" />
					<point x="-6.761480784" y ="0" z="-3.623466631" />
					<point x="-6.062177826" y ="0" z="-7.0" />
					<point x="-4.949747468" y ="0" z="-9.899494937" />
					<point x="-3.5" y ="0" z="-12.124355653" />
					<point x="-1.811733316" y ="0" z="-13.522961568" />
					<point x="-0.0" y ="0" z="-14.0" />
					<point x="1.811733316" y ="0" z="-13.522961568" />
					<point x="3.5" y ="0" z="-12.124355653" />
					<point x="4.949747468" y ="0" z="-9.899494937" />
					<point x="6.062177826" y ="0" z="-7.0" />
					<point x="6.761480784" y ="0" z="-3.623466631" />

				</translate>
				<scale x="0.14" y="0.14" z="0.14" />
			</transform>
			
			<models>
				<model file="esfera.3d" />
			</models>
		</group>
		
		<!--Urano-->
		<group>
			<transform>
				<translate time="22" align="True" >
					<point x="8.0" y ="0" z="0.0" />
					<point x="7.72740661" y ="0" z="4.141104722" />
					<point x="6.92820323" y ="0" z="8.0" />
					<point x="5.656854249" y ="0" z="11.313708499" />
					<point x="4.0" y ="0" z="13.856406461" />
					<point x="2.070552361" y ="0" z="15.454813221" />
					<point x="0.0" y ="0" z="16.0" />
					<point x="-2.070552361" y ="0" z="15.454813221" />
					<point x="-4.0" y ="0" z="13.856406461" />
					<point x="-5.656854249" y ="0" z="11.313708499" />
					<point x="-6.92820323" y ="0" z="8.0" />
					<point x="-7.72740661" y ="0" z="4.141104722" />
					<point x="-8.0" y ="0" z="0.0" />
					<point x="-7.72740661" y ="0" z="-4.141104722" />
					<point x="-6.92820323" y ="0" z="-8.0" />
					<point x="-5.656854249" y ="0" z="-11.313708499" />
					<point x="-4.0" y ="0" z="-13.856406461" />
					<point x="-2.070552361" y ="0" z="-15.454813221" />
					<point x="-0.0" y ="0" z="-16.0" />
					<point x="2.070552361" y ="0" z="-15.454813221" />
					<point x="4.0" y ="0" z="-13.856406461" />
					<point x="5.656854249" y ="0" z="-11.313708499" />
					<point x="6.92820323" y ="0" z="-8.0" />
					<point x="7.72740661" y ="0" z="-4.141104722" />

				</translate>

				<scale x="0.035" y="0.035" z="0.035" />
				
			</transform>
			
			<models>
				<model file="esfera.3d" />
			</models>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="0" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.1" y="0.1" z="0.1" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="90" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.3" y="0.3" z="0.3" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="270" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.1" y="0.1" z="0.1" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
		
		</group>
		
		<!--Neptuno-->
		<group>
			<transform>
				<translate time="23" align="True" >
					<point x="9.0" y ="0" z="0.0" />
					<point x="8.693332437" y ="0" z="4.658742812" />
					<point x="7.794228634" y ="0" z="9.0" />
					<point x="6.363961031" y ="0" z="12.727922061" />
					<point x="4.5" y ="0" z="15.588457268" />
					<point x="2.329371406" y ="0" z="17.386664873" />
					<point x="0.0" y ="0" z="18.0" />
					<point x="-2.329371406" y ="0" z="17.386664873" />
					<point x="-4.5" y ="0" z="15.588457268" />
					<point x="-6.363961031" y ="0" z="12.727922061" />
					<point x="-7.794228634" y ="0" z="9.0" />
					<point x="-8.693332437" y ="0" z="4.658742812" />
					<point x="-9.0" y ="0" z="0.0" />
					<point x="-8.693332437" y ="0" z="-4.658742812" />
					<point x="-7.794228634" y ="0" z="-9.0" />
					<point x="-6.363961031" y ="0" z="-12.727922061" />
					<point x="-4.5" y ="0" z="-15.588457268" />
					<point x="-2.329371406" y ="0" z="-17.386664873" />
					<point x="-0.0" y ="0" z="-18.0" />
					<point x="2.329371406" y ="0" z="-17.386664873" />
					<point x="4.5" y ="0" z="-15.588457268" />
					<point x="6.363961031" y ="0" z="-12.727922061" />
					<point x="7.794228634" y ="0" z="-9.0" />
					<point x="8.693332437" y ="0" z="-4.658742812" />

				</translate>

				<scale x="0.03" y="0.03" z="0.03" />
			</transform>
			
			<models>
				<model file="esfera.3d" />
			</models>
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="30" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.1" y="0.1" z="0.1" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
			
			
			<!--lua-->
			<group>
				<transform>
					<rotate angle="270" x="0" y="1" z="0" />
					<translate time="1" align="True" >
						<point x="1.0" y ="0" z="0.0" />
						<point x="0.707106781" y ="0" z="1.414213562" />
						<point x="0.0" y ="0" z="2.0" />
						<point x="-0.707106781" y ="0" z="1.414213562" />
						<point x="-1.0" y ="0" z="0.0" />
						<point x="-0.707106781" y ="0" z="-1.414213562" />
						<point x="-0.0" y ="0" z="-2.0" />
						<point x="0.707106781" y ="0" z="-1.414213562" />
					</translate>
					<scale x="0.1" y="0.1" z="0.1" />
				</transform>
				
				<models>
					<model file="esfera.3d" />
				</models>
			</group>
		
		</group>
	
	</group>
			
</world>
